[user]
         name = Michelle Yang
         email = zomgitsmichelle@gmail.com

[alias]
         hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C
         ci   = commit
         co   = checkout
         st   = status
         ls   = ls-tree -r master --name-only
	 aa   = add .

